<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=0, initial-scale=1.0">
    <title>Website page</title>
</head>
<body>
    <h1>Content page</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/content">Content</a>
        <a href="/contact">Contact</a>
    </nav>
    <header>

        <main>
            <p>Welcome to my world of art</p>
            <p>this is currently a work in progress</p>
            <p>Feel free to check in regularly</p>
        </main>
    </header>
    <footer>
        <p>made by Olivia Heymanns with assistance of codecookies</p>
    </footer>
</body>
</html>

